@font-face {
               font-family: "sahel";
               src: url('../fonts/sahel/Sahel.eot?#') format('eot'),
               url('../fonts/sahel/Sahel.ttf') format('truetype'),
               url('../fonts/sahel/Sahel.woff') format('woff');
          }

          body{
                         direction: rtl !important;
                         text-align: right !important;
                         font-family: "sahel" !important;
                         line-height: 1.6;

          }
          input , textarea{
               width:75% !important;
          }
      #body{
           text-align: right !important;
           direction: rtl !important;
      }
   
    td  a{
           text-decoration: none !important;
           color:black !important;
      }
   
    